
h4 {
	color: red;
	font-family: Cursive;
}

p { text-align: justify;
	
}
h3 { color: red;
	font-size: 30px;
	shape-image-threshold: 
}

h2 {
	color: blue;
	font-family: Arial;
}

body {
  background-color: lightgreen;